.headerContainer {
    color: white;
    overflow: hidden;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo {
    height: 15vw;
    width: 15vw;
}

.logoName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nameSvg {
    width: 25vw;
    height: 10vw;


}

.svgText {
    stroke: var(--primary-dark);
    font-size: 6vw;
    font-weight: bolder;
    stroke-width: 0.075vw;
    animation: textAnimate 5s infinite alternate;
    fill: var(--primary-light);

}


@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
    }

    90% {
        stroke-dasharray: 50% 0;
        stroke-dashoffset: -20%;


    }
}